$unit: calc(1 / 750 * 100vw);

.App {
    color: #000;
    overflow-y: scroll;
    font-family: sans-serif;

    background: linear-gradient(180deg, #fafbfa, #fafbfa);
    min-height: 100%;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    .header {
        & > img {
            width: 100%;
        }
    }

    .main {
        padding: 0 40 * $unit;
        margin-top: -112 * $unit;
        position: relative;
        background-color: transparent;
        min-height: 400px;

        .content {
            background: #fff;
            border: 2 * $unit solid #f3f6f3;
            border-radius: 24 * $unit;
            padding-bottom: 10 * $unit;

            .location {
                background-color: #ffffff;
            }
            .userinfo {
                padding: 0 60 * $unit;
            }
        }
    }

    .fixiconwrap {
        position: fixed;
        right: 0;
        top: 528 * $unit;
        z-index: 10;

        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}
