body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: PingFang;
  src: url('./fonts/PingFang-SC-Regular.ttf');
}

.app {
  width: 100%;
  position: relative;
}

.jietu {
  width: 100%;
  user-select: none;
}

.clickbox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  user-select: none;
}

.time1 {
  background-color: #fff;
  color: rgb(50, 50, 50);
  font-size: 17px;
  margin-left: 74px;
  margin-top: 180px;
  max-width: 420px;
}

.time2 {
  background-color: #fff;
  color: #666666;
  font-size: 14px;
  margin-left: 213px;
  margin-top: 386px;
  max-width: 140px;
}

.time3 {
  background-color: #fff;
  color: #686868;
  font-size: 14px;
  margin-left: 213px;
  margin-top: 76px;
  max-width: 140px;
}